---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import Showcase from '../components/Showcase.astro';
import Temas from '../components/Temas.astro';
import OQueRecebe from '../components/OQueRecebe.astro';
import Depoimentos from '../components/Depoimentos.astro';
import Bonus from '../components/Bonus.astro';
import Oferta from '../components/Oferta.astro';
import Garantia from '../components/Garantia.astro';
import ParaQuem from '../components/ParaQuem.astro';
import FAQ from '../components/FAQ.astro';
import CTAFinal from '../components/CTAFinal.astro';
import Footer from '../components/Footer.astro';
import StickyBar from '../components/StickyBar.astro';
---

<Layout title="Sementinhas de Fé | 1.200 Parábolas Cristãs Kids">
  <StickyBar />
  <main>
    <Hero />
    <SocialProof />
    <Showcase />
    <Temas />
    <OQueRecebe />
    <Depoimentos />
    <Bonus />
    <Oferta />
    <Garantia />
    <ParaQuem />
    <FAQ />
    <CTAFinal />
  </main>
  <Footer />
</Layout>
