---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

// Componentes V2
import StickyBarV2 from '../components/v2/StickyBarV2.astro';
import HeroV2 from '../components/v2/HeroV2.astro';
import SocialProofV2 from '../components/v2/SocialProofV2.astro';
import PromessaV2 from '../components/v2/PromessaV2.astro';
import ShowcaseV2 from '../components/v2/ShowcaseV2.astro';
import DepoimentosV2 from '../components/v2/DepoimentosV2.astro';
import StatsV2 from '../components/v2/StatsV2.astro';
import TemasV2 from '../components/v2/TemasV2.astro';
import OQueRecebeV2 from '../components/v2/OQueRecebeV2.astro';

// Reutilizando componentes iguais da V1
import Bonus from '../components/Bonus.astro';
import OfertaV2 from '../components/v2/OfertaV2.astro';

import GarantiaV2 from '../components/v2/GarantiaV2.astro';
import ParaQuemV2 from '../components/v2/ParaQuemV2.astro';
import FAQV2 from '../components/v2/FAQV2.astro';
import CTAFinalV2 from '../components/v2/CTAFinalV2.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Sementinhas de Fé | 1.200 Parábolas que Ensinam a Defender a Fé">
  <StickyBarV2 />
  <main>
    <HeroV2 />
    <SocialProofV2 />
    <PromessaV2 />
    <ShowcaseV2 />
    <StatsV2 />
    <DepoimentosV2 />
    <TemasV2 />
    <OQueRecebeV2 />
    <Bonus />
    <OfertaV2 />
    <GarantiaV2 />
    <ParaQuemV2 />
    <FAQV2 />
    <CTAFinalV2 />
  </main>
  <Footer />
</Layout>
